<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Codechef Analytics Record</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">
</head>
<body>
	<nav>
		<div class="nav-wrapper yellow darken-3">
			<a href="#" class="brand-logo center">Codechef Analytics Record (CAR)</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#">Home</a></li>
				<li><a href="/campus">Campus Chapters</a></li>
				<li><a href="/check">User Performance</a></li>
			</ul>
		</div>
	</nav>
		<main>

		</main>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
</html>