<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Codechef User Analytics</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css">
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
	
</head>
<body>
	<nav>
		<div class="nav-wrapper yellow darken-3">
			<a href="#" class="brand-logo center">Codechef Analytics Record (CAR)</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#">Home</a></li>
				<li><a href="#">Problem Analysis</a></li>
				<li><a href="#">Performance Analysis</a></li>
			</ul>
		</div>
	</nav>
		<main>
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l4">
					<img src="{{ profile_pic }}">
				</div>
				<div class="col s12 m6 l8">
				{% for i in p %}
				<p> {{ forloop.counter }} : {{ i }}</p>
				{% endfor %}
					<p>Name: </p>
					<h3>Ranking:</h3>        	
					<p>Long: </p>
					<p>LTime(All): </p>
					<p>Short: </p>
					<p>College: </p>
				</div>
			</div>
		</div>
		</main>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
</html>